//背景图片设置
body {
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.content-wrap {
  background: rgba(255,255,255,0.93);
}

.header-inner {
  background: rgba(255,255,255,0.85);
}

//侧边框的透明度设置
.sidebar {
  background-color: transparent;
  opacity: 0.9;
  z-index: 10;
}
